<!-- Eski Yapı
   <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div> -->
  
  <!-- <table *ngIf="dataLoaded" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Marka</th>
      </tr>
    </thead>
    <tr *ngFor="let brand of brands">
      <td>{{ brand.id }}</td>
      <td>{{ brand.name }}</td> 
    </tr>
  </table> 
Eski Yapı-->

  <!-- Yeni Yapı -->
  <ul class="list-group">
<li (click)="setCurrentBrand(brand)" *ngFor="let brand of brands" 
  
  [class] ="getCurrentBrandClass(brand)">
  {{brand.name}}
</li>
  </ul>
  <!-- Yeni Yapı -->

 <h5 *ngIf="currentBrand">{{currentBrand.name}} seçtiniz.</h5> 