<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="sr-only"></span>
  </div>
  
  <table *ngIf="dataLoaded" class="table">
    <thead>
      <tr>
        <th>Kiralama ID</th>
        <th>Araç ID</th>
        <th>Müşteri ID</th>
        <th>Kira Başlangıç Tarihi</th>
        <th>Geri Dönüş Tarihi</th>
      </tr>
    </thead>
    <tr *ngFor="let rental of rentals">
      <td>{{ rental.id }}</td>
      <td>{{ rental.carId }}</td>
      <td>{{ rental.customerId }}</td>
      <td>{{ rental.rentDate }}</td>
      <td>{{ rental.returnDate }}</td> 
    </tr>
  </table>
